<div class="page-title d-flex bg-dark" aria-label="Page title">
    <div class="container text-center align-self-center">
        <h1 class="page-title-heading text-white">
            <%= @article.title %>
        </h1>
    </div>
</div>

<p><%= @article.author.name %></p>

<p><%= @article.contents %></p>

<% if @article.categories.all.length > 0 %>
    <h3>Categories</h3>

    <ul>
    <% @article.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
    </ul>
<% end %>

<% if author_signed_in? %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
<% end %>
