<header class="navbar-wrapper navbar-boxed navbar-sticky">
    <div class="navbar justify-content-end justify-content-lg-between">
    <ul class="navbar-nav d-none d-lg-block">
        <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Articles", articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>
        <% if author_signed_in? %>
        <li class="nav-item">
            <%= link_to "Log out", destroy_author_session_path, :method => :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item dropdown-toggle"><a class="nav-link">Author</a>
            <ul class="dropdown-menu">
            <li class="dropdown-item">
                <%= link_to "Log in", new_author_session_path %>
            </li>
            <li class="dropdown-item">
                <%= link_to "Sign up", new_author_registration_path %>
            </li>
            </ul>
        </li>
        <% end %>
    </ul>
    </div>
</header>
